<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>account</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header>
		<ul class="nav">
			<li><a href="/api/user/logout">Logout <i class="fas fa-user-alt-slash"></i></a></li>	
			<li><a href="/api/user/friends">Friends <i class="fas fa-user-friends"></i></a></li>
			<li><a href="/account">Account <i class="fas fa-user-alt"></i></a></li>
			<li><a href="/map">Map <i class="fas fa-map-marker-alt"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
		</ul>
	</header>
	<div id="containeracc">
		<div id="favoriteRoute"><h2>Favorite route</h2>
			<div class="favorite"><p>weer coole route</p></div>
			<div class="favorite"><p>coole route</p></div>
		</div>

		<div id="personalInfo"><h2>Information</h2>
			<div class="infoP"><p>Information</p></div>
			<div class="infoP"><p>Information2</p></div>
		</div>

		<div id="friends"><h2>Friends</h2>
			<div class="friend"><p>Lonely</p></div>
			<div class="friend"><p>Sukkel</p></div>
		</div>
	</div>

	<img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
</body>
</html>