<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	</title>
</head>
<body>
<<<<<<< HEAD
	<header>
			<ul class="nav">
 				<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
 				<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
 				<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 				<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
				<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 			</ul>
		</header>
<div id="containeracc">
	<div id="favoriteRoute"><h2>Favorite route</h2>
=======
<div class="containeracc">
	<div class="favoriteRoute"><h2>Favorite route</h2>
>>>>>>> parent of 614356a... account update
		<div class="favorite"><p>weer coole route</p></div>
		<div class="favorite"><p>coole route</p></div>
	</div>

	<div class="personalInfo"><h2>Information</h2>
		<div class="infoP"><p>Information</p></div>
		<div class="infoP"><p>>Information2</p></div>
	</div>

	<div class="friends"><h2>Friends</h2>
		<div class="friend"><p>>Lonely</p></div>
		<div class="friend"><p>>Sukkel</p></div>
	</div>
</div>
</body>
</html>