<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>	</title>
</head>
<body>
<div class="containeracc">
	<div class="favoriteRoute"><h2>Favorite route</h2>
		<div class="favorite"><p>weer coole route</p></div>
		<div class="favorite"><p>coole route</p></div>
	</div>

	<div class="personalInfo"><h2>Information</h2>
		<div class="infoP"><p>Information</p></div>
		<div class="infoP"><p>>Information2</p></div>
	</div>

	<div class="friends"><h2>Friends</h2>
		<div class="friend"><p>>Lonely</p></div>
		<div class="friend"><p>>Sukkel</p></div>
	</div>
</div>
</body>
</html>