<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>account</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header>
		<ul class="nav">
			<li><a href="/api/user/logout">Logout <i class="fas fa-user-alt-slash"></i></a></li>	
			<li><a href="/api/user/friends">Friends <i class="fas fa-user-friends"></i></a></li>
			<li><a href="/account">Account <i class="fas fa-user-alt"></i></a></li>
			<li><a href="/map">Map <i class="fas fa-map-marker-alt"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
		</ul>
	</header>
	<div class="container">
		{% for errorMessage in errorMessages %}
		<div class="error-box box">
			<h3 class="error-box-title"><i class="fas fa-exclamation-triangle"></i>Error!</h3>
			{{errorMessage}}
		</div>
		{% endfor %}
		{% for successMessage in successMessages %}
		<div class="success-box box">
			<h3 class="success-box-title"><i class="fas fa-check-circle"></i>Success!</h3>
			{{successMessage}}
		</div>
        {% endfor %}
	</div>

	<img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
</body>
</html>