<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>TravelMate - Error</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="/index">Home <i class="fas fa-home"></i></a></li>
            <li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
        </ul>
    </header>
    {% for errorMessage in errorMessages %}
    <div class="error-box box">
        <h3 class="error-box-title"><i class="fas fa-exclamation-triangle"></i>Error!</h3>
        {{errorMessage}}
    </div>
    {% endfor %}
    {% for successMessage in successMessages %}
    <div class="success-box box">
        <h3 class="success-box-title"><i class="fas fa-check-circle"></i>Success!</h3>
        {{successMessage}}
    </div>
    {% endfor %}
    
    <img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
</body>
</html>