<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<title>TravelMate-Friends</title>
	</head>
	<body>
		<header>
			<ul class="nav">
 				<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
 				<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
 				<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 				<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
				<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 			</ul>
		</header>
		<h1>Friend's list</h1>
		
		<div class="addfriend">
			<input type="text" name="name" placeholder="Naam..">
			<input type="submit" value="Add">
		</div>

		<div class="friendslist">
			<ul>
				<li><img src="/img/avatar.jpg" style="width: 40px"> Stijn</li>
				<li>Dylan</li>
				<li>Robbe</li>
			</ul>
		</div>
	</body>
</html>