 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
	<title>Homepage</title>
 </head>
 <body>
 	<header>
 		<ul class="nav">
 			<li><a href="index.html">Home <i class="fas fa-home"></i></a></li>
 			<li><a href="register.html">Registreren <i class="far fa-user-circle"></i></a></li>
 			<li><a href="login.html">Inloggen <i class="fas fa-user-circle"></i></a></li>
			<li><a href="contact.html">Contact <i class="fas fa-address-book"></i></a></li>
 		</ul>	
 	</header>
	<div>
		<h1>TravelMate</h1>
		<img src="img/travelmatelogo.png" alt="Logo">
		<p>Welkom bij Travelmate. DE site om af te spreken met (nieuwe) vrienden, collega's samen te reizen.</p>
		<h2>Makkelijk afspreken om naar dezelfde locatie te reizen.</h2>
		<p>Voeg een locatie en een tijdstip toe en zie met wie je samen kan reizen.</p>
		<img src="img/location.png" alt="Locatie"  width="700" height="400">
		<h2>Openbaar vervoer</h2>
		<p>Makkelijk aanduiden welke bus, tram of trein je pakt.</p>
		<img src="img/bus.jpg" alt="Bussen" width="700" height="400">
		<h2>Carpoolen</h2>
		<p>Carpoolen is nog nooit zo makkelijk geweest. Duid een bestemming aan en zie met wie je kan meerijden.</p>
		<img src="img/carpooling.jpg" alt="Carpoolen" width="700" height="400">	
	</div>
 	<footer>
 		
 	</footer>
 	
 </body>
 </html>