 <!DOCTYPE html>
 <html lang="en">
 <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<title>TravelMate - Homepage</title>
 </head>
 <body>
 	<header>
 		<ul class="nav">
 			<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
 			<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
 			<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 			<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 		</ul>
	</header>
	<div class="container">
		{% for errorMessage in errorMessages %}
		<div class="error-box box">
			<h3 class="error-box-title"><i class="fas fa-exclamation-triangle"></i>Error!</h3>
			{{errorMessage}}
		</div>
		{% endfor %}
		{% for successMessage in successMessages %}
		<div class="success-box box">
			<h3 class="success-box-title"><i class="fas fa-check-circle"></i>Success!</h3>
			{{successMessage}}
		</div>
        {% endfor %}

		<h1>Welkom bij TravelMate!</h1>	
		<p class="center">Welkom bij Travelmate. DE site om af te spreken met (nieuwe) vrienden, collega's samen te reizen.</p>

		<div class="container-login">
			<form method="POST" onsubmit="return checkForm('login')" action="/api/user/login">
				<label>Email:</label><input type="text" name="email" placeholder="someone@example.com">
				<label>Password:</label><input type="password" name="password" placeholder="secret">
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
	<div class="container-home">
		<div class="cards">
			<img src="/img/location.png">
			<h2>Makkelijk</h2>	
			<p>Handig afspreken om naar dezelfde locatie te reizen. Voeg een locatie en een tijdstip toe en zie met wie je samen kan reizen.</p>
		</div>
		<div class="cards">
			<img src="/img/bus.jpg">
			<h2>Openbaar vervoer</h2>
			<div class="incards">
				<h2><i class="fas fa-bus"></i> BUS</h2>
				<h2><i class="fas fa-train"></i> TREIN</h2>
				<h2><i class="fas fa-subway"></i></i> TRAM</h2>
			</div>
			<p>Makkelijk aanduiden welke bus, tram of trein je pakt.</p>	
		</div>
		<div class="cards">
			<img src="/img/carpooling.jpg">
			<h2>Carpoolen</h2>
			<p>Carpoolen is nog nooit zo makkelijk geweest. Duid een bestemming aan en zie met wie je kan meerijden.</p>
		</div>
	</div>		
	<!-- <div class="footer">
		<p><i class="fas fa-phone-square-alt"></i> Telefoon:</p>
		<p>Maandag - Vrijdag 8u - 16u30</p>
		<p><i class="fas fa-envelope-square"></i> E-mail:</p>
		<p><i class="fab fa-facebook"></i> facebook:</p>
	</div> -->
	 
	<img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
 </body>
 </html>