 <!DOCTYPE html>
 <html lang="en">
 <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<title>TravelMate - Homepage</title>
 </head>
 <body>
 	<header>
 		<ul class="nav">
 			<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
 			<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 			<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
			<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 		</ul>
	</header>
	<div>
		<h1>Welkom bij TravelMate{% if displayName != null %}, {{displayName}}{% endif %}!</h1>	
		<p>Welkom bij Travelmate. DE site om af te spreken met (nieuwe) vrienden, collega's samen te reizen.</p>
		<h2>Makkelijk afspreken om naar dezelfde locatie te reizen.</h2>
		<p>Voeg een locatie en een tijdstip toe en zie met wie je samen kan reizen.</p>
		<img src="/img/location.png" alt="Locatie"  width="700" height="400">
		<h2>Openbaar vervoer.</h2>
		<p>Makkelijk aanduiden welke bus, tram of trein je pakt.</p>
		<img src="/img/bus.jpg" alt="Bussen" width="700" height="400">
		<h2>Carpoolen</h2>
		<p>Carpoolen is nog nooit zo makkelijk geweest. Duid een bestemming aan en zie met wie je kan meerijden.</p>
		<img src="/img/carpooling.jpg" alt="Carpoolen" width="700" height="400">	
	</div>
 	<footer>
 		
 	</footer>
 	
 </body>
 </html>