<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>TravelMate Login</title>
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="index">Home <i class="fas fa-home"></i></a></li>
            <li><a href="register">Registreren <i class="far fa-user-circle"></i></a></li>
            <li><a href="login">Inloggen <i class="fas fa-user-circle"></i></a></li>
            <li><a href="contact">Contact <i class="fas fa-address-book"></i></a></li>
            <li class="logo"><img class="logo" src="img/travelmatelogo3.png" alt="Logo"></li>
        </ul>
    </header>
    <form method="POST" action="/api/user/login">
        Email: <input type="text" name="email" placeholder="email">
        Password: <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login">
    </form>
</body>
</html>