<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<title>TravelMate - Map</title>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/js/map-works.js"></script>
</head>
<body>
	<div class="outer">
		<div id='map'></div>
		<div class="dropdown">
		<button class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
  		<div class="dropdown-content">
    		<a href="#">Link 1</a>
    		<a href="#">Link 2</a>
    		<a href="#">Link 3</a>
  		</div>
	</div>
	</div>
	
	<div class="searchmenu">
  	</div>
  	<div id='geocoder' class='geocoder'></div>
	
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'>
	</script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
	<script>
		  mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZXN0aXgiLCJhIjoiY2sxN2xoYjloMWRpbTNucDNneWU4Y3piMCJ9.zAJbMIgcDUtRF99YYvpaOg';
		  var map = new mapboxgl.Map({
		    container: 'map',
		    style: 'mapbox://styles/mapbox/streets-v11',
		    center: [4.4699 , 50.50399],
			zoom: 7.2
		  });

		  var geocoder = new MapboxGeocoder({
		  accessToken: mapboxgl.accessToken,
		  mapboxgl: mapboxgl
	      });

		  document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
	</script>
	<div class="containerSearch">	
	</div>
</body>
</html>