<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<!-- Mapbox gl -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
	<!-- Mapbox geocoder-->
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
	<!-- Mapbox directions -->
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css' type='text/css' />
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Managed -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/map.css">
	
	<script src="/js/map-works.js"></script>
	<script src="/js/route.js"> </script>
	<title>TravelMate - Map</title>
</head>
<body>
	<div id='map'></div>
	<div id="map-dropdown">
		<button id="map-dropdown-btn"><i class="fas fa-ellipsis-h"></i></button>
		<div id="map-dropdown-menu">
			<ul>
				<li><a id="map-dropdown-list" href="/api/user/account">Account <i class="fas fa-user-alt"></i></a></li>
				<li><a id="map-dropdown-list" href="/api/user/friends">Friends <i class="fas fa-user-friends"></i></a></li>
				<li><a id="map-dropdown-list" href="/api/user/logout">Logout <i class="fas fa-user-alt-slash"></i></a></li>
			</ul>
		</div>
	</div>

	
	<div class="searchmenu">
		<a href="/"><img id="searchmenu-logo" src="/img/travelmatelogo3.png"></a>
		<div id="searchmenu-content">
			<h2>Mijn volgende route</h2>
			<ul id="searchmenu-tabs">
				<li onclick="selectTab('searchmenu-tab','searchmenu-tab-car'); planSelectRouteType('car');">Auto</li>
				<li onclick="selectTab('searchmenu-tab','searchmenu-tab-ov'); planSelectRouteType('ov');">Openbaar vervoer</li>
				<li onclick="selectTab('searchmenu-tab','searchmenu-tab-no-route'); planSelectRouteType(null);"><i class="fas fa-times"></i></li>
			</ul>
			<section class="searchmenu-tab" id="searchmenu-tab-car" disabled="true">
				<h3>Auto</h3>
				<label>Vertrek tijdstip</label>
				<input type="time" name="route-car-go-time" value="20:00" placeholder="vertrek tijdstip">
				<ul class="inline-radio-select" id="route-car-period-select">
					<li><input checked type="radio" name="route-car-go-period" id="route-car-go-period-today" value="today"><label for="route-car-go-period-today">Vandaag</label></li>
					<li><input type="radio" name="route-car-go-period" id="route-car-go-period-tomorrow" value="tomorrow"><label for="route-car-go-period-tomorrow">Morgen</label></li>
				</ul>
				<p>Gebruik de kaart om je route te plannen <i class="fas fa-arrow-right"></i></p>
			</section>
			<section class="searchmenu-tab" id="searchmenu-tab-ov" disabled="true">
				<h3>Openbaar vervoer</h3>
				<label>Vertrekhalte</label>
				<div id="map-lijn-planner-geocoder1"></div>
				<ul class="inline-radio-select" id="route-ov-period-go-type-select">
					<li><input checked type="radio" name="route-ov-period-go-type" id="route-ov-period-go-type-arrive" value="arrive"><label for="route-ov-period-go-type-arrive">Aankomen om</label></li>
					<li><input type="radio" name="route-ov-period-go-type" id="route-ov-period-go-type-depart" value="depart"><label for="route-ov-period-go-type-depart">Vertrekken om</label></li>
				</ul>
				<input type="time" name="route-ov-go-time" value="20:00" placeholder="tijdstip">
				<ul class="inline-radio-select" id="route-ov-period-select">
					<li><input checked type="radio" name="route-ov-go-period" id="route-ov-go-period-today" value="today"><label for="route-ov-go-period-today">Vandaag</label></li>
					<li><input type="radio" name="route-ov-go-period" id="route-ov-go-period-tomorrow" value="tomorrow"><label for="route-ov-go-period-tomorrow">Morgen</label></li>
				</ul>
			</section>
			<section class="searchmenu-tab" id="searchmenu-tab-no-route" disabled="false">
				<h3>Geen route</h3>
				<p>Je moet nergens heen.</p>
				<p>Selecteer auto of openbaar vervoer hierboven om een route in te stellen.</p>
			</section>
		</div>
	</div>

	<div class="containerSearch">	
	</div>
	<div id="marker-template">
		<i class="fas fa-map-pin"></i>
		<div class="marker-content">
			<p class="marker-stop-name">{stop.name} <span class="marker-stop-id">({stop.id})</span></p>
		</div>
	</div>

	<img id="page-loading-indicator" src="/img/loading.svg" disabled="false">
	<div id="screen-fader" disabled="false"></div>
	<script src="/js/travelmate-base.js"></script>
</body>
</html>