<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- FontAwesome -->
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<!-- Mapbox gl -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
	<!-- Mapbox geocoder-->
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- Managed -->
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link rel="stylesheet" type="text/css" href="/css/map.css">
	<script src="/js/map-works.js"></script>
	<title>TravelMate - Map</title>
</head>
<body>
	<div id='map'></div>
	<div id="map-dropdown">
		<button id="map-dropdown-btn"><i class="fas fa-ellipsis-h"></i></button>
		<div id="map-dropdown-menu">
			<ul>
				<li><a id="map-dropdown-list" href="#">Link 1</a></li>
				<li><a id="map-dropdown-list" href="#">Link 1</a></li>
				<li><a id="map-dropdown-list" href="#">Link 1</a></li>
			</ul>
		</div>
	</div>

	
	<div class="searchmenu">
		<button id="searchmenu-bus">Met de bus</button>
  	</div>
  	<div id="geocoder" class="geocoder"></div>
	
	

	<div class="containerSearch">	
	</div>
	<div id="marker-template">
		<i class="fas fa-map-marker"></i>
		<div class="marker-content">
			<p class="marker-stop-name">{stop.name} <span class="marker-stop-id">({stop.id})</span></p>
		</div>
	</div>
</body>
</html>