<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<title>map</title>
	<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
	<div id='map'></div>
		<script>
		  mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZXN0aXgiLCJhIjoiY2sxN2xoYjloMWRpbTNucDNneWU4Y3piMCJ9.zAJbMIgcDUtRF99YYvpaOg';
		  var map = new mapboxgl.Map({
		    container: 'map',
		    style: 'mapbox://styles/mapbox/streets-v11'
		  });
		</script>
	<div class="dropdown">
  		<button class="dropbtn"><i class="fas fa-ellipsis-h"></i></button>
  		<div class="dropdown-content">
    		<a href="#">Link 1</a>
    		<a href="#">Link 2</a>
    		<a href="#">Link 3</a>
  		</div>
	</div>
	<div class="containerSearch">	
	</div>
</body>
</html>