<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<script src="js/popper.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<title>register</title>

	<script>
		var failedPopper = null;

		function loaded()
		{
			failedPopper = document.getElementById("popper-password-check-failed");

			console.info("fired");
		}
		
		function doPasswordCheck(form)
		{
			var check = form.querySelector(".password-check");
			var checkTest = form.querySelector(".password-check-test");
			var valid = check.value == checkTest.value

			console.info("check: " + check.value);
			console.info("checkTest: " + checkTest.value);
		
			if (!valid)
			{
				new Popper(checkTest, failedPopper, {
				    placement: 'bottom'
				});
			}

			console.info(valid ? "gelijk" : "ongelijk");

			return check.value == checkTest.value;
		}
	</script>
</head>
<body onload="loaded()">
 	<header>
		<ul class="nav">
			<li><a href="index">Home <i class="fas fa-home"></i></a></li>
			<li><a href="register">Registreren <i class="far fa-user-circle"></i></a></li>
			<li><a href="login">Inloggen <i class="fas fa-user-circle"></i></a></li>
		    <li><a href="contact">Contact <i class="fas fa-address-book"></i></a></li>
		    <li class="logo"><img class="logo" src="img/travelmatelogo3.png" alt="Logo"></li>
		</ul>
 	</header>
 	<div id="popper-password-check-failed">De ingevoerde wachtwoorden komen niet overeen.</div>
	<div>
		<h1>Registreer</h1>
		<form method="POST" onsubmit="return doPasswordCheck(this);" action="/internal/register">
			Voornaam: <input type="text" name="firstname">
			Naam: <input type="text" name="lastname">
			Geboortedatum: <input type="text" name="dateOfBirth">
			Wachtwoord: <input class="password-check" type="text" name="password">
			Wachtwoord Bevestigen: <input class="password-check-test" type="text" name="repassword">
			Email: <input type="text" name="email">
			<input type="submit" value="Registreer">
		</form>
	</div>
	
	<footer>

	</footer>
</body>
</html>