<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://kit.fontawesome.com/4dd0d35705.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
	<title>TravelMate - Register</title>
	<script>
	
		function doPasswordCheck(form)
		{
			var check = form.querySelector(".password-check");
			var checkTest = form.querySelector(".password-check-test");
			var valid = check.value == checkTest.value

			console.info("check: " + check.value);
			console.info("checkTest: " + checkTest.value);

			console.info(valid ? "gelijk" : "ongelijk");

			return check.value == checkTest.value;
		}
	</script>
</head>
<body>
 	<header>
		<ul class="nav">
 			<li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li>
 			<li><a href="/login">Inloggen <i class="fas fa-user-circle"></i></a></li>
 			<li><a href="/register">Registreren <i class="far fa-user-circle"></i></a></li>
 			<li><a href="/index">Home <i class="fas fa-home"></i></a></li>
			<li class="logo"><img class="logo" src="/img/travelmatelogo3.png" alt="Logo"></li>
 		</ul>
	 </header>
	 {% if errorMessage != null %}
		<div class="error-box box">
			<h3>
				{% if errorMessageTitle != null %}
					{{errorMessageTitle}}
				{% else %}
					Error!
				{% endif %}
			</h3>
			{{errorMessage}}
		</div>
	{% endif %}
	<div>
		<h1>Registreer</h1>
		<form method="POST" onsubmit="return doPasswordCheck(this);" action="/api/user/register">
			email: <input type="text" name="email" placeholder="email">
			wachtwoord: <input type="password" name="password" placeholder="password">
			voornaam: <input type="text" name="firstname">
			naam: <input type="text" name="lastname">
			geboortedatum: <input type="text" name="dateOfBirth">
			wachtwoord bevestigen: <input class="password-check-test" type="text" name="repassword">
			<input type="submit" value="Registreer">
		</form>
	</div>
	
	<footer>

	</footer>
</body>
</html>