body {
	font-family: 'Montserrat', sans-serif;
}

ul.nav {
	overflow: hidden;
	background-color: lightgrey;
	list-style-type: none;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 12px 16px;
	color: black;
	text-decoration: none;
}

li.logo {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

img.logo {
	width: 100px;
}

li a:hover {
	background-color: grey;
}

h1 {
	text-align: center;
}


header {
	background-color: lightgrey;
	margin-top: -16px;
	margin-left: -8px;
	margin-right: -8px;
}
